[Unit]
Description=Run gh-ngit-ci-bridge every 5 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=false
Unit=gh-ngit-ci-bridge.service

[Install]
WantedBy=timers.target
